
@{ 
    ViewBag.Title = "Демонстраційні дані";
}


<div class="card">
    <div class="card-header">
        ALTstudy - Компанія <a href="https://altstudy.com.ua"><i class="fa fa-link" aria-hidden="true"></i></a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>