@model List<ALTSecurity.Web.Models.Model>
@using ALTSecurity.Web.Utility
@{
    ViewBag.Title = "Головна";
}

@section scripts{
    @Html.JsMinify(@<text>
        <script>
            app.sectionInit = function () {
                $('#showModal').on('click', function () {
                    $.ajaxModalWindow('/Home/Modal',
                        {
                            success: function (m, result) {
                                m.modal('hide');
                            }
                        }, true);
                });
            };

        </script>

    </text>)
}

<button type="button" id="showModal" class="btn btn-primary">
    Launch demo modal
</button>


<div class="row mt-3">
    <div class="col-md-12">
        <table id="testTable" class="dataTable table-bordered table-striped" style="width:100%" role="grid"></table>
        @Html.DataTables(new DataTables("testTable")
   {
       Dom = "Brtlp",
       Columns = new List<DataTableColumn>
                   {
                   new DataTableColumn
                   {
                       data ="Name",
                       title = "Назва"
                   },
                   new DataTableColumn
                   {
                       data ="Description",
                       title = "Опис"
                   }
                   //new DataTableColumn
                   //{
                   //    data = "DbId",
                   //    title = string.Empty,
                   //    visible = false
                   //}
                   },
       Buttons = new List<DataTableButton>
       {
           new DataTableButton
           {
               className = "changeBtn",
               text = "Змінити",
               action = "$.modalAlert('a');"
           }
       },
       Data = Model,
       Order = new DataTablesOrdering { Column = 1, Type = OrderingType.desc },
       Searching = false,
       Select = true,
       Selection = new DataTableSelection { Style = SelectionStyle.checkbox }
   })
    </div>
</div>




