/*DataTables*/
.dataTable th, .dataTable td {
    padding: 0.5rem;
}
/*jquery validation custom styles*/
.input-validation-error {
    border-width: 1px;
    border-color: #FF0000;
}

input[type="text"]:focus {
   outline:none!important;
}


.field-validation-error {
    color: #FF0000;
}

/*Validation summary*/
.validation-summary-errors {
    font-weight: bold;
    color: #FF0000;
}

    .validation-summary-errors ul {
        list-style: none;
        margin-left: -40px
    }

.validation-summary-valid {
    display: none;
}

