
/*jquery validation custom styles*/
.input-validation-error {
    border-width: 1px;
    border-color: #FF0000;
}

input[type="text"]:focus {
   outline:none!important;
}


.field-validation-error {
    color: #FF0000;
}
